In [1]:
import pandas as pd
import numpy as np

In [2]:
anime_df = pd.read_csv("C:\\Users\\hp\\Downloads\\excelr_ds_files\\ASSIGN\\Recommendation System\\anime.csv")

In [3]:
anime_df[0:22]

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109
10,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
12,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376
13,2904,Code Geass: Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888
14,28891,Haikyuu!! Second Season,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
16,23273,Shigatsu wa Kimi no Uso,"Drama, Music, Romance, School, Shounen",TV,22,8.92,416397
17,24701,Mushishi Zoku Shou 2nd Season,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.88,75894
18,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193
19,1575,Code Geass: Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
20,263,Hajime no Ippo,"Comedy, Drama, Shounen, Sports",TV,75,8.83,157670
21,44,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,"Action, Drama, Historical, Martial Arts, Roman...",OVA,4,8.83,129307

In [4]:
#number of unique users in the dataset
len(anime_df.anime_id.unique())

12294

In [5]:
anime_df.name.unique()

array(['Kimi no Na wa.', 'Fullmetal Alchemist: Brotherhood', 'Gintama°',
       ..., 'Violence Gekiga David no Hoshi',
       'Violence Gekiga Shin David no Hoshi: Inma Densetsu',
       'Yasuji no Pornorama: Yacchimae!!'], dtype=object)

In [6]:
len(anime_df.genre.unique())

3265

In [7]:
user_anime_df = anime_df.pivot(index='anime_id',
                                 columns='name',
                                 values='rating').reset_index(drop=True)

In [8]:
user_anime_df

name,&quot;0&quot;,"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,&quot;Bungaku Shoujo&quot; Memoire,&quot;Bungaku Shoujo&quot; Movie,&quot;Eiji&quot;,&quot;Eiyuu&quot; Kaitai,.hack//G.U. Returner,.hack//G.U. Trilogy,.hack//G.U. Trilogy: Parody Mode,...,s.CRY.ed,vivi,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,Üks Uks,ēlDLIVE,◯
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
user_anime_df.index = anime_df.anime_id.unique()

In [10]:
user_anime_df

name,&quot;0&quot;,"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,&quot;Bungaku Shoujo&quot; Memoire,&quot;Bungaku Shoujo&quot; Movie,&quot;Eiji&quot;,&quot;Eiyuu&quot; Kaitai,.hack//G.U. Returner,.hack//G.U. Trilogy,.hack//G.U. Trilogy: Parody Mode,...,s.CRY.ed,vivi,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,Üks Uks,ēlDLIVE,◯
32281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Impute those NaNs with 0 values
user_anime_df.fillna(0, inplace=True)

In [12]:
user_anime_df

name,&quot;0&quot;,"&quot;Aesop&quot; no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu",&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,&quot;Bungaku Shoujo&quot; Memoire,&quot;Bungaku Shoujo&quot; Movie,&quot;Eiji&quot;,&quot;Eiyuu&quot; Kaitai,.hack//G.U. Returner,.hack//G.U. Trilogy,.hack//G.U. Trilogy: Parody Mode,...,s.CRY.ed,vivi,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,Üks Uks,ēlDLIVE,◯
32281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9316,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26081,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [14]:
user_sim = 1 - pairwise_distances( user_anime_df.values,metric='cosine')

In [15]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [16]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [17]:
#Set the index and column names to user ids
user_sim_df.index = anime_df.anime_id.unique()
user_sim_df.columns = anime_df.anime_id.unique()

In [18]:
user_sim_df.iloc[0:10, 0:10]

       32281  5114   28977  9253   9969   32935  11061  820    15335  15417
32281    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5114     0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
28977    0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9253     0.0    0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
9969     0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0
32935    0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0    0.0
11061    0.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0
820      0.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0
15335    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0
15417    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0

In [19]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:10, 0:10]

       32281  5114   28977  9253   9969   32935  11061  820    15335  15417
32281    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5114     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
28977    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9253     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9969     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
32935    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
11061    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
820      0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
15335    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
15417    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

In [20]:
#Most Similar Users
user_sim_df.idxmax(axis=1)[0:10]

32281    32281
5114     32281
28977    32281
9253     32281
9969     32281
32935    32281
11061    32281
820      32281
15335    32281
15417    32281
dtype: int64

In [21]:
anime_df[(anime_df['anime_id']==6) | (anime_df['anime_id']==168)]

,anime_id,name,genre,type,episodes,rating,members
214,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069
1761,168,s.CRY.ed,"Action, Adventure, Drama, Sci-Fi, Super Power",TV,26,7.45,52784

In [22]:
user_1=anime_df[anime_df['anime_id']==6]

In [23]:
user_2=anime_df[anime_df['anime_id']==656]

In [24]:
user_1.name

214    Trigun
Name: name, dtype: object

In [25]:
user_2.name

1650    Air in Summer
Name: name, dtype: object

In [26]:
pd.merge(user_1,user_2,on='anime_id',how='outer')

,anime_id,name_x,genre_x,type_x,episodes_x,rating_x,members_x,name_y,genre_y,type_y,episodes_y,rating_y,members_y
0,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069.0,NaN,NaN,NaN,NaN,NaN,NaN
1,656,NaN,NaN,NaN,NaN,NaN,NaN,Air in Summer,"Comedy, Drama, Historical, Romance, Supernatural",Special,2,7.47,29514.0

In [27]:
def recommend_anime(anime_id, user_sim_df, anime_df, threshold=0.8):
  """Recommends anime based on cosine similarity.


  # Get the similarity scores for the target anime.
  similarity_scores = user_sim_df.loc[anime_id]

  # Filter out anime with similarity scores below the threshold.
  similar_anime = similarity_scores[similarity_scores >= threshold]

  # Get the IDs of the similar anime.
  recommended_anime = similar_anime.index.tolist()

  # Remove the target anime from the recommendations.
  recommended_anime.remove(anime_id)

  # Return the list of recommended anime IDs.
  return recommended_anime

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score

# Split the dataset into training and testing sets.
train_data, test_data = train_test_split(anime_df, test_size=0.2, random_state=42)

# Create a user-anime matrix for the training set.
train_user_anime_df = train_data.pivot(index='anime_id',
                                      columns='name',
                                      values='rating').reset_index(drop=True)
# Get the unique anime IDs present in the training data
train_anime_ids = train_data['anime_id'].unique()
# Set the index using the unique anime IDs from the training data
train_user_anime_df.index = train_anime_ids
train_user_anime_df.fillna(0, inplace=True)

# Calculate cosine similarity for the training set.
train_user_sim = 1 - pairwise_distances(train_user_anime_df.values, metric='cosine')
train_user_sim_df = pd.DataFrame(train_user_sim)
# Set the index and columns using the unique anime IDs from the training data
train_user_sim_df.index = train_anime_ids
train_user_sim_df.columns = train_anime_ids
np.fill_diagonal(train_user_sim, 0)

# Make recommendations for the testing set.
recommendations = []
for anime_id in test_data['anime_id'].unique():
  # Check if anime_id exists in train_user_sim_df before making recommendations
  if anime_id in train_user_sim_df.index:
    recommendations.extend(recommend_anime(anime_id, train_user_sim_df, train_data, threshold=0.8))

# Evaluate the recommendations using precision, recall, and F1-score.
# Filter test_data to only include anime IDs present in train_user_sim_df
relevant_test_data = test_data[test_data['anime_id'].isin(train_user_sim_df.index)]
precision = precision_score(relevant_test_data['anime_id'].tolist(), recommendations, average='weighted')
recall = recall_score(relevant_test_data['anime_id'].tolist(), recommendations, average='weighted')
f1 = f1_score(relevant_test_data['anime_id'].tolist(), recommendations, average='weighted')

print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1-score: {f1}")

Precision: nan
Recall: nan
F1-score: nan